@charset "UTF-8";

/*********************** font-family ***********************/
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Barrio */
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
/* Titan One */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
/* Advent Pro */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
/* Bangers */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*
  font-family: "Montserrat", serif;
  font-family: "Barrio", system-ui;
  font-family: "Titan One", sans-serif;
  font-family: "Advent Pro", sans-serif;
  font-family: "Bangers", system-ui;
*/

:root {
  /* color */
  --background-color: #fef0e0;
  --primary-color: #f9423a;
  --white-color: #fff;
}

html, body {
  overflow-x: hidden;
}
body{
  padding-top: 95px;
  background-color: var(--background-color);
}
.wrap {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}
nav.wrap>div{
  flex: 1;
}


/*************** ✨ 상단영역 ✨ ***************/
header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 9.4rem;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--primary-color);
}
/*************** nav ***************/
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.4rem;
}
.left-menu,
.right-menu {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.left-menu a,
.right-menu a {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  color: var(--primary-color);
}
.right-menu {
  justify-content: flex-end;
}
.logo {
  text-align: center;
}
.logo img {
  width: 9.9rem;
}
/*************** 서브메뉴 SHOP ***************/
.mega_sub-menu {
  display: flex;
  width: 100%;
  padding: 2.4rem .4rem;
  position: absolute;
  top: 9.4rem;
  left: 50%;
  translate: -50%;
  background-color: var(--primary-color);
}
.mega_sub-menu-list {
  width: 100%;
}
.mega_sub-menu-list > span {
  display: block;
  text-transform: uppercase;
  font-family: "Advent Pro";
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 2.4rem;
  transition: 0.3s;
  color: var(--background-color);
}
.mega_sub-menu__wrap {
  display: flex;
}
.mega-sub-menu__items {
  background-color: var(--background-color);
}
.mega-sub-menu__item {
  border: 2px solid var(--primary-color)
}
.mega-sub-menu__link {
  width: 14vw;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  padding: 2rem ;
}
.mega-sub-menu__link img {}
/*************** //서브메뉴 SHOP ***************/
/*************** 서브메뉴 ABOUT ***************/
.mega__sub-about {

}
/*************** //서브메뉴 ABOUT ***************/
/*************** //상단영역 ***************/


/*************** 섹션별 상단 타이틀 ***************/
h2 {
  font-size: min(8.8rem,5vw);
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Barrio", system-ui;
  text-align: center;
}

/*************** 텍스트 회전 각도 ***************/
.rotate-right {rotate: -4deg;}
.rotate-left {rotate: 4deg;}

/*************** 🔍 click-button 공통 ***************/
.click-button {
  font-family: "Advent Pro", sans-serif;
  font-size: min(2.4rem,2vw);
  padding: .8rem 8.8rem;
  margin-top: 4rem;
  background: var(--primary-color);
  color: var(--background-color);
  opacity: .9;
  transition: opacity .5s linear;
  cursor: pointer;
}
.click-button:hover {
  opacity: 1;
}

/*************** 🔍 //click-button 공통 ***************/