@charset "UTF-8";

/*********************** font-family CDN ***********************/
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Barrio */
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
/* Titan One */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
/* Advent Pro */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
/* Bangers */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*
  font-family: "Montserrat", serif;
  font-family: "Barrio", system-ui;
  font-family: "Titan One", sans-serif;
  font-family: "Advent Pro", sans-serif;
  font-family: "Bangers", system-ui;
*/

:root {
  /* color */
  --background-color: #fef0e0;
  --primary-color: #f9423a;
  --white-color: #fff;
  
}
body{
  padding-top: 95px;
  background-color: var(--background-color);
}
.wrap {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}
.padding-spacing {
  padding-top: 12rem;
  padding-bottom: 12rem;
}


/*************** 🔍 click-button 공통 ***************/
.click-button {
  font-family: "Advent Pro", sans-serif;
  font-size: min(2.4rem,2vw);
  padding: .8rem 8.8rem;
  background: var(--primary-color);
  color: var(--background-color);
  opacity: .9;
  transition: opacity .5s linear;
  cursor: pointer;
  text-transform: uppercase;
}
.click-button:hover {
  opacity: 1;
}

/*************** 🔍 //click-button 공통 ***************/