@charset "UTF-8";

/* 외부 CSS */
@import url(./reset.css);
@import url(./common.css);

/*************** main ***************/
main {
  width: 100%;
}
/*************** visual-banner ***************/
.visual-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 8;
  background: url(../images/main-banner.jpg) no-repeat center top / cover;
}
.visual-text-box {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  text-align: center;
}
.visual-text-box h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: min(12.8rem, 8vw);
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Barrio", system-ui;
}
.visual-disc {
  font-size: min(3.2rem, 2.5vw);
  color: var(--primary-color);
  font-family: "Titan One", sans-serif;
  margin-bottom: 4rem;
}

/*************** //visual-banner ***************/

/*************** product-marquee ***************/
.product-marquee {
  position: relative;
  margin-top: -30px;
  transform: rotate(-2deg);
  z-index: 2;
}
.marquee-wrap {
  display: flex;
  overflow: hidden;
}
@keyframes move-txt-ani {
  0% {
    /* left: 100%; */
    transform: translateX(0%);
  }
  100% {
    /* left: -100%; */
    transform: translateX(-100%);
  }
}
.marquee-box {
  display: flex;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--primary-color);
  animation: move-txt-ani 25s linear infinite;
}
.marquee-box span {
  padding: 4rem 4.8rem;
  border-right: 2px solid var(--primary-color);
  white-space: nowrap;
  color: var(--primary-color);
}
.marquee-box span:nth-child(odd) {
  font-size: 4.8rem;
  font-family: "Barrio", system-ui;
}
.marquee-box span:nth-child(even) {
  font-size: 3.2rem;
  font-family: "Titan One", system-ui;
  line-height: 5.2rem;
}
/*************** //product-marquee ***************/

/*************** flavors slide ***************/
.slider-box {
  width: 100%;
  padding: 12rem 0;
  position: relative;
  background-color: var(--background-color);
}
.slider-wrap {
  display: flex;
  width: 100%;
  gap: 3.2rem;
  padding-top: 4rem;
  overflow: hidden;
}
.card-padding {
  padding: 0 2.4rem;
}
.card {
  min-width: 376px;
  width: 100%;
  background-color: transparent;
  text-transform: uppercase;
}
.card-top {
  width: 100%;
  height: 40px;
  background-color: #ffdd04;
}
.card-top-title {
  font-size: 1.6rem;
  line-height: 40px;
  font-family: "Advent Pro";
  color: #e1248f;
  font-weight: bold;
}
.card-image {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.card-image img {
  position: absolute;
  width: 100%;
  top: -30%;
}
.card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 368px;
  padding: 16px 0;
  border: 2px solid #e1248f;
}
.card-bottom h4 {
  font-family: "Bangers";
  font-size: 4rem;
  color: #e1248f;
}
.card-review {
  display: flex;
  gap: 16px;
  font-size: 1.6rem;
  color: #e1248f;
  font-family: "Advent Pro";
  text-transform: capitalize;
  margin: 16px 0;
}
.card-disc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.6rem;
  font-family: "Advent Pro";
  color: #e1248f;
  text-transform: capitalize;
}
.card-btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.card-btn button {
  text-transform: uppercase;
  font-family: "Advent Pro";
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0.8rem 2.4rem;
  transition: 0.3s;
}
.primary-btn {
  background-color: #e1248f;
  color: #fff;
}
.primary-btn:hover {
  background-color: #d1137a; /* 어두운 색상으로 변경 */
  cursor: pointer;
}
.secondary-btn {
  border: 2px solid #e1248f;
  color: #e1248f;
  background-color: var(--background-color);
}
.secondary-btn:hover {
  border: 2px solid #e1248f;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.109); /* 그림자 효과 */
  cursor: pointer;
}
/*************** //flavors slide ***************/


/*************** home-banner ***************/
.home-banner-box {
  position: relative;
  width: 100%;
  min-height: 80rem;
  background: url(../images/total-product.jpg) no-repeat 100% bottom/cover;
  overflow: hidden;
}

/* .home-banner-wrap {
  position: relative;
}
.home-page-left {
  position: absolute;
  width: 15%;
  top: -20%;
  left: -7%;
}
.home-page-right {
  position: absolute;
  width: 15%;
  bottom: -16%;
  right: -5%;
} */
/*************** //home-banner ***************/

/*************** collection-box ***************/
.collection-box {
  width: 100%;
  padding: 12rem 0;
  position: relative;
  background-color: #CBDE82;
}
.collection-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3.2rem;
  padding: 4rem 4rem 0;
}
.collection-card {
  max-width: 440px;
  width: 100%;
  background-color: transparent;
  text-transform: uppercase;
}
.collection-card .card-top {
  background-color: #F94239;
}
.collection-card .card-top-title {
  color: #CBDE82;
}
.collection-card .card-bottom *{
  color: #F94239;
}
.collection-card .card-bottom {
  border: 2px solid #F94239;
}
.collection-card .card-bottom .card-btn .primary-btn {
  color: #CBDE82;
  background-color: #F94239;
}
.collection-card .card-bottom .card-btn .secondary-btn {
  color: #F94239;
  border: 2px solid #F94239;
  background-color: transparent;
}
/*************** //collection-box ***************/

/*************** home-press ***************/
.home-press {
  width: 100%;
  padding: 12rem 0;
  background-color: var(--background-color);
}
.home-press-box {
  width: 100%;
  padding-top: 8rem;
}
.brand-name {
  width: 100%;
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.brand-name li {
  width: min(24rem, 22vw);
}
.brand-name img {
  width: 100%;
}
/*************** //home-press ***************/

/*************** home-about ***************/
.home-about {
  width: 100%;
  padding: 12rem 0;
  background-color: var(--primary-color);
}
.home-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-left h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: min(12.8rem, 8vw);
  color: var(--background-color);
  font-weight: bold;
  font-family: "Barrio", system-ui;
}
.home-right {
  width: 34%;
  text-align: center;
}
.home-disc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  color: var(--background-color);
  font-family: "Advent Pro", sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 3.4rem;
}
.home-right > .click-button {
  font-family: "Advent Pro", sans-serif;
  font-size: min(2.4rem,2vw);
  padding: .8rem 8.8rem;
  margin-top: 4rem;
  background: var(--background-color);
  color: var(--primary-color);
  opacity: .9;
  transition: opacity .5s linear;
  cursor: pointer;
  text-transform: uppercase;
}
/*************** //home-about ***************/
/*************** product-banner ***************/
.product-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 8;
  background: url(../images/product-banner.jpg) no-repeat top / 120%;
  border-bottom: 2px solid var(--primary-color);
}
.product-banner-box {
  position: absolute;
  top: -6%;
  left: 50%;
  translate: -50% 0;
  max-width: 40rem;
  padding: 2rem 4rem;
  background-color: var(--primary-color);
  border: 2px solid var(--background-color);
}
.product-banner-box > p {
  font-size: 2.4rem;
  font-family: "Montserrat", serif;
  color: var(--background-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
/*************** //product-banner ***************/
/*************** // main ***************/

/*************** footer ***************/
footer {
  position: relative;
}
footer > .test {
  position: absolute;
  width: 100%;
  top: 34%;
}
/*************** footer-top ***************/
.footer-top {
  width: 100%;
  padding: 16rem 0;
}
.footer-top-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-top button {
  text-transform: uppercase;
}
/*************** //footer-top ***************/

/*************** footer-explain ***************/
.footer-explain {
  width: 100%;
  padding: 16rem 0;
  background-color: var(--primary-color);
}
.explain-wrap {
  display: flex;
  justify-content: space-between;
}
.flogo > img {
  width: 16rem;
}
.footer-linklist {
  border-top: 2px solid var(--background-color);
}
.sub-linklist {
  font-size: 1.6rem;
  font-family: "Montserrat", serif;
  font-weight: bold;
}
.sub-linklist:first-child {
  margin-top: 1rem;
}
.sub-linklist > a {
  color: var(--background-color);
  text-transform: uppercase;
  line-height: 4rem;
  opacity: .9;
}
.sub-linklist:hover > a {
  opacity: 1;
}
.newsletter {
  width: 32rem;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: var(--background-color);
  border: 2px solid var(--background-color);
  padding: 1.6rem;
}
.footer-newsletter a {
  color: var(--background-color);
  font-size: 2.4rem;
}
.social-sns{
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  margin-top: 2.4rem;
}
/*************** //footer-explain ***************/
/*************** // footer ***************/