@charset "utf-8";

/* 외부 CSS */
@import url(./reset.css);
@import url(./common.css);

body * {
  outline: 3px dashed black;
}

/*************************** 👉 header ***************************/
header {
  position: fixed;
  margin-top: 5.6rem;
  width: 100%;
}
.top-area {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 8rem;
  height: 4rem;
}
.nav-btn {
  width: 4rem;
  height: 4rem;
}
/*************************** //header ***************************/

/*************************** 👉 main ***************************/
main {
  width: 100%;
}

/************************ visual-banner ************************/
.visual-banner {
  width: 100%;
  height: 100vh;
  background-color: #1A71FE;
}
.visual-banner h2 {
  width: 80%;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  margin: 0 auto;
}

/************************ visual-card ************************/
.visual-card {
  width: 100%;
  height: 56rem;
  background-color: #1A71FE;
}
.visual-card h3 {
  font-size: 3.2rem;
  color: #fff;
}

/************************ brand-int ************************/
.brand-int {
  width: 100%;
  height: 167rem;
  background-color: #F5F3ED;
}

/************************ bigger-img ************************/
.bigger-img {
  width: 100%;
  height: 83.1rem;
  margin: 6.4rem 0;
  background-color: #F5F3ED;
}

/************************ accordion-int ************************/
.accordion-int {
  width: 100%;
  height: 95.4rem;
  margin: 6.4rem 0;
  background-color: #F5F3ED;
}

/************************ image-group ************************/
.image-group {
  width: 100%;
  height: 95.2rem;
  margin: 6.4rem 0;
  background-color: #F5F3ED;
}

/************************ profile-int ************************/
.profile-int {
  width: 100%;
  height: 124.2rem;
  margin: 6.4rem 0;
  background-color: #A8BAAD;
}

/************************ marquee-int ************************/
.marquee-int {
  width: 100%;
  height: 174.2rem;
  margin: 6.4rem 0;
  background-color: #000;
}

/************************ keyword ************************/
.keyword {
  width: 100%;
  height: 108rem;
  background-color: aquamarine;
}

/************************ show-text ************************/
.show-text {
  width: 100%;
  height: 95.2rem;
  margin: 6.4rem 0;
  background-color: #000;
}

/*************************** //main ***************************/



/*************************** 👉 footer ***************************/
footer {
  width: 100%;
  height: 14rem;

  background-color: #000;
}
/*************************** //footer ***************************/

