@charset "utf-8";

/* 외부 CSS */
@import url(./reset.css);
@import url(./common.css);
@import url(./core.css);

body * {
  outline: 3px dashed black;
}

/****************** header ******************/
header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  margin: 5.6rem 6.4rem 0;
}
h1#logo {
  width: 8rem;
  height: 4rem;
}
button.header-menu-button {
  width: 4rem;
  height: 4rem;
  border: 4px solid #333;
}

/****************** main ******************/
main {
  width: 100%;
  height: auto;
}

/****************** 비주얼배너 ******************/
.visual-banner {
  position: relative;
  width: 100%;
  height: 192rem;
  background-color: #1a71fe;
}
.visual-banner h2 {
  position: relative;
  top: 50vh;
  translate: 0 -50%;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  width: 80%;
  margin: 0 auto;
}
.card-banner {
  position: absolute;
  bottom: 0;
  left: 6.4rem;
}
.card-banner h3 {
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}
.card-banner ul {
  width: 100%;
  height: 48.0rem;
}
.card-banner ul li {
  width: 28.3rem;
  height: 48.0rem;
  background-color: #f7c518;
  border-radius: 2rem;
}
.card-banner ul li a {
  width: 100%;
  height: 100%;
}


/****************** 브랜드소개 ******************/
section.brand-info {
  width: 100%;
  height: auto;
  background-color: #f5f3ed;
  padding: 16.2rem 0;
}
section.brand-info h3 {
  color: #333;
  font-size: 7vw;
  width: 90%;
  margin-bottom: 10rem;
}
.brand-box {
  display: flex;
  width: 90%;
  height: 64rem;
  margin: 0 auto;
}
.brand-left {
  width: 50%;
  height: auto;
}
.brand-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
  width: 50%;
  height: auto;
}
.brand-right > h4 {
  font-size: 2vw;
}
.brand-right > button {
  padding: 1rem 2rem;
  width: 21rem;
  font-size: 2.6rem;
  /* letter-spacing: -0.2rem; */
  border-radius: 1rem;
  font-family: "Montserrat";
}

section.explanation-accordion {
  width: 100%;
  height: auto;
  background-color: #f7c518;
}
.bigger_image {
  padding: 16.2rem 0;
}
.bigger_image > img {
  width: 100%;
  border-radius: 2rem;
}

section.image-group {
  width: 100%;
  height: auto;
  background-color: #f7c518;
}
section.profile {
}
section.marquee {
}
section.keyword {
}
section.text-show {
}

/****************** 👉 footer ******************/
footer {
  width: 100%;
  height: 100px;
  background-color: #ccc;
}
